  0
SECTION
  2
HEADER
  9
$ACADVER
  1
AC1014
  9
$ACADMAINTVER
 70
     9
  9
$DWGCODEPAGE
  3
ANSI_1250
  9
$INSBASE
 10
0.0
 20
0.0
 30
0.0
  9
$EXTMIN
 10
-1961.4
 20
-3611.4
 30
0.0
  9
$EXTMAX
 10
934.0
 20
-2162.306941020376
 30
0.0
  9
$LIMMIN
 10
0.0
 20
0.0
  9
$LIMMAX
 10
12.0
 20
9.0
  9
$ORTHOMODE
 70
     0
  9
$REGENMODE
 70
     1
  9
$FILLMODE
 70
     1
  9
$QTEXTMODE
 70
     0
  9
$MIRRTEXT
 70
     1
  9
$DRAGMODE
 70
     2
  9
$LTSCALE
 40
1.0
  9
$OSMODE
 70
 16383
  9
$ATTMODE
 70
     1
  9
$TEXTSIZE
 40
0.2
  9
$TRACEWID
 40
0.05
  9
$TEXTSTYLE
  7
STANDARD
  9
$CLAYER
  8
0
  9
$CELTYPE
  6
BYBLOCK
  9
$CECOLOR
 62
   256
  9
$CELTSCALE
 40
1.0
  9
$DELOBJ
 70
     1
  9
$DISPSILH
 70
     0
  9
$DIMSCALE
 40
1.0
  9
$DIMASZ
 40
0.18
  9
$DIMEXO
 40
0.0625
  9
$DIMDLI
 40
0.38
  9
$DIMRND
 40
0.0
  9
$DIMDLE
 40
0.0
  9
$DIMEXE
 40
0.18
  9
$DIMTP
 40
0.0
  9
$DIMTM
 40
0.0
  9
$DIMTXT
 40
0.18
  9
$DIMCEN
 40
0.09
  9
$DIMTSZ
 40
0.0
  9
$DIMTOL
 70
     0
  9
$DIMLIM
 70
     0
  9
$DIMTIH
 70
     1
  9
$DIMTOH
 70
     1
  9
$DIMSE1
 70
     0
  9
$DIMSE2
 70
     0
  9
$DIMTAD
 70
     0
  9
$DIMZIN
 70
     0
  9
$DIMBLK
  1

  9
$DIMASO
 70
     1
  9
$DIMSHO
 70
     1
  9
$DIMPOST
  1

  9
$DIMAPOST
  1

  9
$DIMALT
 70
     0
  9
$DIMALTD
 70
     2
  9
$DIMALTF
 40
25.4
  9
$DIMLFAC
 40
1.0
  9
$DIMTOFL
 70
     0
  9
$DIMTVP
 40
0.0
  9
$DIMTIX
 70
     1
  9
$DIMSOXD
 70
     0
  9
$DIMSAH
 70
     0
  9
$DIMBLK1
  1

  9
$DIMBLK2
  1

  9
$DIMSTYLE
  2
SIMPLEX
  9
$DIMCLRD
 70
     0
  9
$DIMCLRE
 70
     0
  9
$DIMCLRT
 70
     0
  9
$DIMTFAC
 40
1.0
  9
$DIMGAP
 40
0.09
  9
$DIMJUST
 70
     0
  9
$DIMSD1
 70
     0
  9
$DIMSD2
 70
     0
  9
$DIMTOLJ
 70
     1
  9
$DIMTZIN
 70
     0
  9
$DIMALTZ
 70
     0
  9
$DIMALTTZ
 70
     0
  9
$DIMFIT
 70
     5
  9
$DIMUPT
 70
     0
  9
$DIMUNIT
 70
     2
  9
$DIMDEC
 70
     4
  9
$DIMTDEC
 70
     4
  9
$DIMALTU
 70
     2
  9
$DIMALTTD
 70
     2
  9
$DIMTXSTY
  7
STANDARD
  9
$DIMAUNIT
 70
     0
  9
$LUNITS
 70
     2
  9
$LUPREC
 70
     4
  9
$SKETCHINC
 40
0.1
  9
$FILLETRAD
 40
0.5
  9
$AUNITS
 70
     0
  9
$AUPREC
 70
     0
  9
$MENU
  1
.
  9
$ELEVATION
 40
0.0
  9
$PELEVATION
 40
0.0
  9
$THICKNESS
 40
0.0
  9
$LIMCHECK
 70
     0
  9
$CHAMFERA
 40
0.0
  9
$CHAMFERB
 40
0.0
  9
$CHAMFERC
 40
0.0
  9
$CHAMFERD
 40
0.0
  9
$SKPOLY
 70
     0
  9
$TDCREATE
 40
2447893.083333333
  9
$TDUPDATE
 40
2458337.430055833
  9
$TDINDWG
 40
0.0
  9
$TDUSRTIMER
 40
0.0
  9
$USRTIMER
 70
     1
  9
$ANGBASE
 50
0.0
  9
$ANGDIR
 70
     0
  9
$PDMODE
 70
     0
  9
$PDSIZE
 40
0.0
  9
$PLINEWID
 40
0.0
  9
$COORDS
 70
     1
  9
$SPLFRAME
 70
     0
  9
$SPLINETYPE
 70
     6
  9
$SPLINESEGS
 70
     8
  9
$ATTDIA
 70
     0
  9
$ATTREQ
 70
     1
  9
$HANDLING
 70
     1
  9
$HANDSEED
  5
BBC2FB
  9
$SURFTAB1
 70
     6
  9
$SURFTAB2
 70
     6
  9
$SURFTYPE
 70
     6
  9
$SURFU
 70
     6
  9
$SURFV
 70
     6
  9
$UCSNAME
  2

  9
$UCSORG
 10
0.0
 20
0.0
 30
0.0
  9
$UCSXDIR
 10
1.0
 20
0.0
 30
0.0
  9
$UCSYDIR
 10
0.0
 20
1.0
 30
0.0
  9
$PUCSNAME
  2

  9
$PUCSORG
 10
0.0
 20
0.0
 30
0.0
  9
$PUCSXDIR
 10
1.0
 20
0.0
 30
0.0
  9
$PUCSYDIR
 10
0.0
 20
1.0
 30
0.0
  9
$USERI1
 70
     0
  9
$USERI2
 70
     0
  9
$USERI3
 70
     0
  9
$USERI4
 70
     0
  9
$USERI5
 70
     0
  9
$USERR1
 40
0.0
  9
$USERR2
 40
0.0
  9
$USERR3
 40
0.0
  9
$USERR4
 40
0.0
  9
$USERR5
 40
0.0
  9
$WORLDVIEW
 70
     1
  9
$SHADEDGE
 70
     3
  9
$SHADEDIF
 70
    70
  9
$TILEMODE
 70
     1
  9
$MAXACTVP
 70
    64
  9
$PINSBASE
 10
0.0
 20
0.0
 30
0.0
  9
$PLIMCHECK
 70
     0
  9
$PEXTMIN
 10
1.000000000000E+20
 20
1.000000000000E+20
 30
1.000000000000E+20
  9
$PEXTMAX
 10
-1.000000000000E+20
 20
-1.000000000000E+20
 30
-1.000000000000E+20
  9
$PLIMMIN
 10
0.0
 20
0.0
  9
$PLIMMAX
 10
12.0
 20
9.0
  9
$UNITMODE
 70
     0
  9
$VISRETAIN
 70
     1
  9
$PLINEGEN
 70
     0
  9
$PSLTSCALE
 70
     1
  9
$TREEDEPTH
 70
  3020
  9
$PICKSTYLE
 70
     1
  9
$CMLSTYLE
  2
STANDARD
  9
$CMLJUST
 70
     0
  9
$CMLSCALE
 40
1.0
  9
$PROXYGRAPHICS
 70
     1
  9
$MEASUREMENT
 70
     0
  0
ENDSEC
  0
SECTION
  2
CLASSES
  0
CLASS
  1
ACDBDICTIONARYWDFLT
  2
AcDbDictionaryWithDefault
  3
ObjectDBX Classes
 90
        0
280
     0
281
     0
  0
CLASS
  1
SCALE
  2
AcDbScale
  3
ObjectDBX Classes
 90
     1153
280
     0
281
     0
  0
CLASS
  1
MATERIAL
  2
AcDbMaterial
  3
ObjectDBX Classes
 90
     1153
280
     0
281
     0
  0
CLASS
  1
VISUALSTYLE
  2
AcDbVisualStyle
  3
ObjectDBX Classes
 90
     4095
280
     0
281
     0
  0
CLASS
  1
TABLESTYLE
  2
AcDbTableStyle
  3
ObjectDBX Classes
 90
     4095
280
     0
281
     0
  0
CLASS
  1
MLEADERSTYLE
  2
AcDbMLeaderStyle
  3
ACDB_MLEADERSTYLE_CLASS
 90
     4095
280
     0
281
     0
  0
CLASS
  1
SUN
  2
AcDbSun
  3
SCENEOE
 90
     1153
280
     0
281
     0
  0
CLASS
  1
DICTIONARYVAR
  2
AcDbDictionaryVar
  3
ObjectDBX Classes
 90
        0
280
     0
281
     0
  0
CLASS
  1
XRECORD
  2
AcDbXrecord
  3
ObjectDBX Classes
 90
        0
280
     0
281
     0
  0
CLASS
  1
LWPOLYLINE
  2
AcDbPolyline
  3
ObjectDBX Classes
 90
        0
280
     0
281
     1
  0
CLASS
  1
HATCH
  2
AcDbHatch
  3
ObjectDBX Classes
 90
        0
280
     0
281
     1
  0
CLASS
  1
ACDBPLACEHOLDER
  2
AcDbPlaceHolder
  3
ObjectDBX Classes
 90
        0
280
     0
281
     0
  0
CLASS
  1
LAYOUT
  2
AcDbLayout
  3
ObjectDBX Classes
 90
        0
280
     0
281
     0
  0
ENDSEC
  0
SECTION
  2
TABLES
  0
TABLE
  2
VPORT
  5
BBC01F
102
{ACAD_XDICTIONARY
360
BBC2F2
102
}
330
0
100
AcDbSymbolTable
 70
     1
  0
VPORT
  5
BBC020
330
BBC01F
100
AcDbSymbolTableRecord
100
AcDbViewportTableRecord
  2
*ACTIVE
 70
     0
 10
0.0
 20
0.0
 11
1.0
 21
1.0
 12
-513.7
 22
-2886.853470510188
 13
0.0
 23
0.0
 14
0.5
 24
0.5
 15
0.5
 25
0.5
 16
0.0
 26
0.0
 36
1.0
 17
0.0
 27
0.0
 37
0.0
 40
1737.908169230769
 41
1.699346405229
 42
50.0
 43
0.0
 44
0.0
 50
0.0
 51
0.0
 71
    16
 72
   100
 73
     1
 74
     3
 75
     0
 76
     0
 77
     0
 78
     0
  0
ENDTAB
  0
TABLE
  2
LTYPE
  5
5
330
0
100
AcDbSymbolTable
 70
     5
  0
LTYPE
  5
14
330
5
100
AcDbSymbolTableRecord
100
AcDbLinetypeTableRecord
  2
BYBLOCK
 70
     0
  3

 72
    65
 73
     0
 40
0.0
  0
LTYPE
  5
15
330
5
100
AcDbSymbolTableRecord
100
AcDbLinetypeTableRecord
  2
BYLAYER
 70
     0
  3

 72
    65
 73
     0
 40
0.0
  0
LTYPE
  5
16
330
5
100
AcDbSymbolTableRecord
100
AcDbLinetypeTableRecord
  2
CONTINUOUS
 70
     0
  3
Solid line
 72
    65
 73
     0
 40
0.0
  0
LTYPE
  5
21
330
5
100
AcDbSymbolTableRecord
100
AcDbLinetypeTableRecord
  2
HIDDEN
 70
     0
  3
 __ __ __ __ __ __ __ __ __ __ __ __ __ __
 72
    65
 73
     2
 40
3.0
 49
2.0
 74
     0
 49
-1.0
 74
     0
  0
LTYPE
  5
22
330
5
100
AcDbSymbolTableRecord
100
AcDbLinetypeTableRecord
  2
DASHED
 70
     0
  3
Dashed __ __ __ __ __ __ __ __ __ __ __ __ __ _
 72
    65
 73
     2
 40
19.05
 49
12.7
 74
     0
 49
-6.35
 74
     0
  0
LTYPE
  5
23
330
5
100
AcDbSymbolTableRecord
100
AcDbLinetypeTableRecord
  2
DASHDOT
 70
     0
  3
Dash dot __ . __ . __ . __ . __ . __ . __ . __
 72
    65
 73
     4
 40
25.4
 49
12.7
 74
     0
 49
-6.35
 74
     0
 49
0.0
 74
     0
 49
-6.35
 74
     0
  0
LTYPE
  5
24
330
5
100
AcDbSymbolTableRecord
100
AcDbLinetypeTableRecord
  2
__DASHED__
 70
     0
  3
Dashed line stroke pattern
 72
    65
 73
     2
 40
0.75
 49
0.5
 74
     0
 49
-0.25
 74
     0
  0
ENDTAB
  0
TABLE
  2
LAYER
  5
2
330
0
100
AcDbSymbolTable
 70
    12
  0
LAYER
  5
10
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
0
 70
     0
 62
     7
  6
CONTINUOUS
  0
LAYER
  5
2A
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-WYMIARY
 70
     0
 62
     1
  6
CONTINUOUS
  0
LAYER
  5
2B
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-OPISY
 70
     0
 62
     4
  6
CONTINUOUS
  0
LAYER
  5
2C
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-ZBROJENIE
 70
     0
 62
     3
  6
CONTINUOUS
  0
LAYER
  5
2D
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-WIDOK
 70
     0
 62
     4
  6
CONTINUOUS
  0
LAYER
  5
2E
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-KOTY_WYSOKOSCIOWE
 70
     0
 62
     4
  6
CONTINUOUS
  0
LAYER
  5
2F
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-TABELKA
 70
     0
 62
     7
  6
CONTINUOUS
  0
LAYER
  5
30
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-HATCH
 70
     0
 62
     8
  6
CONTINUOUS
  0
LAYER
  5
31
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-POMOCNICZA
 70
     0
 62
     6
  6
CONTINUOUS
  0
LAYER
  5
32
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
___SOL-STOPSOLE
 70
     0
 62
     4
  6
CONTINUOUS
  0
LAYER
  5
33
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
__SOL-PRZERYWANA
 70
     0
 62
   253
  6
DASHED
  0
LAYER
  5
BBC04F
330
2
100
AcDbSymbolTableRecord
100
AcDbLayerTableRecord
  2
DEFPOINTS
 70
     0
 62
     7
  6
CONTINUOUS
  0
ENDTAB
  0
TABLE
  2
STYLE
  5
3
330
0
100
AcDbSymbolTable
 70
     3
  0
STYLE
  5
11
330
3
100
AcDbSymbolTableRecord
100
AcDbTextStyleTableRecord
  2
STANDARD
 70
     0
 40
0.0
 41
1.0
 50
0.0
 71
     0
 42
2.5
  3
arial.ttf
  4

1001
ACAD
1000
Arial
1071
        0
  0
STYLE
  5
BBBBD4
330
3
100
AcDbSymbolTableRecord
100
AcDbTextStyleTableRecord
  2
SIMPLEX
 70
     0
 40
0.0
 41
0.8
 50
0.0
 71
     0
 42
0.2
  3
SIMPLEX.SHX
  4

  0
STYLE
  5
8E
330
3
100
AcDbSymbolTableRecord
100
AcDbTextStyleTableRecord
  2
ARIAL
 70
     0
 40
2.5
 41
1.0
 50
0.0
 71
     0
 42
2.5
  3
arial.ttf
  4

1001
ACAD
1000
Arial
1071
       34
  0
ENDTAB
  0
TABLE
  2
VIEW
  5
6
330
0
100
AcDbSymbolTable
 70
     0
  0
ENDTAB
  0
TABLE
  2
UCS
  5
7
330
0
100
AcDbSymbolTable
 70
     0
  0
ENDTAB
  0
TABLE
  2
APPID
  5
9
330
0
100
AcDbSymbolTable
 70
     3
  0
APPID
  5
12
330
9
100
AcDbSymbolTableRecord
100
AcDbRegAppTableRecord
  2
ACAD
 70
     0
  0
APPID
  5
AAAAA
330
9
100
AcDbSymbolTableRecord
100
AcDbRegAppTableRecord
  2
ACADANNOTATIVE
 70
     0
  0
APPID
  5
BBBBCD
330
9
100
AcDbSymbolTableRecord
100
AcDbRegAppTableRecord
  2
ACAD_MLEADERVER
 70
     0
  0
ENDTAB
  0
TABLE
  2
DIMSTYLE
  5
BBBBCE
330
0
100
AcDbSymbolTable
 70
     5
  0
DIMSTYLE
105
BBBBCF
330
BBBBCE
100
AcDbSymbolTableRecord
100
AcDbDimStyleTableRecord
  2
SIMPLEX
 70
     0
  3

  4

  5

  6

  7

 40
1.0
 41
0.18
 42
0.0625
 43
0.38
 44
0.18
 45
0.0
 46
0.0
 47
0.0
 48
0.0
140
0.18
141
0.09
142
0.0
143
25.4
144
1.0
145
0.0
146
1.0
147
0.09
 71
     0
 72
     0
 73
     1
 74
     1
 75
     0
 76
     0
 77
     1
 78
     0
170
     0
171
     2
172
     0
173
     0
174
     1
175
     0
176
     0
177
     0
178
     0
270
     2
271
     4
272
     4
273
     2
274
     2
340
11
275
     0
280
     0
281
     0
282
     0
283
     1
284
     0
285
     0
286
     0
287
     3
288
     0
  0
DIMSTYLE
105
27
330
BBBBCE
100
AcDbSymbolTableRecord
100
AcDbDimStyleTableRecord
  2
ISO
 70
     0
  3

  4

  5

  6

  7

 40
1.0
 41
180.0
 42
180.0
 43
380.0
 44
180.0
 45
0.0
 46
100.0
 47
0.0
 48
0.0
140
180.0
141
90.0
142
0.0
143
0.03937
144
1.0
145
180.0
146
1.0
147
90.0
 71
     0
 72
     0
 73
     0
 74
     1
 75
     0
 76
     0
 77
     1
 78
     0
170
     0
171
     2
172
     0
173
     1
174
     1
175
     0
176
     0
177
     0
178
     0
179
     4
270
     2
271
     0
272
     4
273
     4
274
     2
340
11
275
     0
280
     0
281
     0
282
     0
283
     1
284
     0
285
     0
286
     0
287
     3
288
     0
  0
DIMSTYLE
105
B3
330
BBBBCE
100
AcDbSymbolTableRecord
100
AcDbDimStyleTableRecord
  2
DIM
 70
     0
  3

  4

  5
OBLIQUE
  6

  7

 40
20.0
 41
0.15
 42
0.5
 43
0.375
 44
0.125
 45
0.0
 46
0.0
 47
0.0
 48
0.0
140
0.4
141
0.15
142
0.0
143
0.03937007874
144
1.0
145
0.0
146
1.0
147
0.1
 71
     0
 72
     0
 73
     0
 74
     0
 75
     0
 76
     0
 77
     1
 78
     8
170
     0
171
     3
172
     1
173
     0
174
     1
175
     0
176
     0
177
     0
178
     0
270
     2
271
     0
272
     0
273
     2
274
     3
340
11
275
     0
280
     0
281
     0
282
     0
283
     0
284
     8
285
     0
286
     0
287
     5
288
     0
  0
DIMSTYLE
105
BE
102
{ACAD_REACTORS
102
}
330
BBBBCE
100
AcDbSymbolTableRecord
100
AcDbDimStyleTableRecord
  2
DIM_1-50
 70
     0
  3

  4

  5
OBLIQUE
  6
OBLIQUE
  7
NONE
 40
1.0
 41
10.0
 42
10.0
 43
0.0
 44
10.0
 45
0.0
 46
10.0
 47
0.0
 48
0.0
140
12.8
141
0.0
142
0.0
143
0.03937007874
144
1.0
145
0.0
146
1.0
147
2.0
 71
     0
 72
     0
 73
     0
 74
     0
 75
     0
 76
     0
 77
     1
 78
     8
170
     0
171
     3
172
     1
173
     0
174
     1
175
     0
176
   256
177
   256
178
   256
270
     2
271
     0
272
     0
273
     2
274
     3
340
11
275
     0
279
1
280
     0
281
     0
282
     0
283
     0
284
     8
285
     0
286
     0
287
     5
288
     0
  0
DIMSTYLE
105
BD
330
BBBBCE
100
AcDbSymbolTableRecord
100
AcDbDimStyleTableRecord
  2
OPIS_ZBROJ
 70
     0
  3

  4

  5

  6
NONE
  7
NONE
 40
1.0
 41
0.3
 42
0.0
 43
0.0
 44
0.0
 45
0.0
 46
0.0
 47
0.0
 48
0.0
140
6.4
141
0.0
142
0.0
143
0.03937007874
144
1.0
145
0.0
146
1.0
147
1.0
 71
     0
 72
     0
 73
     0
 74
     0
 75
     1
 76
     1
 77
     2
 78
     8
170
     0
171
     3
172
     1
173
     1
174
     0
175
     0
176
   256
177
   256
178
   256
270
     2
271
     0
272
     0
273
     2
274
     3
340
11
275
     0
279
0
280
     0
281
     1
282
     1
283
     0
284
     8
285
     0
286
     0
287
     5
288
     0
  0
ENDTAB
  0
TABLE
  2
BLOCK_RECORD
  5
BBBBD0
330
0
100
AcDbSymbolTable
 70
    67
  0
BLOCK_RECORD
  5
BBBBD1
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*MODEL_SPACE
  0
BLOCK_RECORD
  5
BBBBD2
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*PAPER_SPACE
  0
BLOCK_RECORD
  5
BBBBD6
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
_OBLIQUE
  0
BLOCK_RECORD
  5
BBBBDA
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
_NONE
  0
BLOCK_RECORD
  5
BBBBDE
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
KOTA
  0
BLOCK_RECORD
  5
BBBBE6
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
OPIS_PRET_BEZ_LINII
  0
BLOCK_RECORD
  5
BBBBEF
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
OPIS_PRAWY
  0
BLOCK_RECORD
  5
BBBBF9
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
OPIS_LEWY
  0
BLOCK_RECORD
  5
BBBBFC
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
BLOK_USZY_DUZE
  0
BLOCK_RECORD
  5
BBC050
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D7
  0
BLOCK_RECORD
  5
BBC05C
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D8
  0
BLOCK_RECORD
  5
BBC068
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D9
  0
BLOCK_RECORD
  5
BBC074
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D10
  0
BLOCK_RECORD
  5
BBC080
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D11
  0
BLOCK_RECORD
  5
BBC08C
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D12
  0
BLOCK_RECORD
  5
BBC098
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D13
  0
BLOCK_RECORD
  5
BBC0A4
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D14
  0
BLOCK_RECORD
  5
BBC0B0
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D15
  0
BLOCK_RECORD
  5
BBC0BC
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D16
  0
BLOCK_RECORD
  5
BBC0C8
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D17
  0
BLOCK_RECORD
  5
BBC0D4
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D18
  0
BLOCK_RECORD
  5
BBC0E0
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D19
  0
BLOCK_RECORD
  5
BBC0EC
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D20
  0
BLOCK_RECORD
  5
BBC0F8
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D21
  0
BLOCK_RECORD
  5
BBC104
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D22
  0
BLOCK_RECORD
  5
BBC110
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D23
  0
BLOCK_RECORD
  5
BBC11C
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D24
  0
BLOCK_RECORD
  5
BBC128
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D25
  0
BLOCK_RECORD
  5
BBC134
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D26
  0
BLOCK_RECORD
  5
BBC140
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D27
  0
BLOCK_RECORD
  5
BBC14C
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D28
  0
BLOCK_RECORD
  5
BBC158
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D29
  0
BLOCK_RECORD
  5
BBC164
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D30
  0
BLOCK_RECORD
  5
BBC170
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D31
  0
BLOCK_RECORD
  5
BBC17C
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D32
  0
BLOCK_RECORD
  5
BBC188
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D33
  0
BLOCK_RECORD
  5
BBC194
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D34
  0
BLOCK_RECORD
  5
BBC1A0
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D35
  0
BLOCK_RECORD
  5
BBC1AC
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D36
  0
BLOCK_RECORD
  5
BBC1B8
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D37
  0
BLOCK_RECORD
  5
BBC1C4
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D38
  0
BLOCK_RECORD
  5
BBC1D0
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D39
  0
BLOCK_RECORD
  5
BBC1DC
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D40
  0
BLOCK_RECORD
  5
BBC1E3
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D41
  0
BLOCK_RECORD
  5
BBC1EA
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D42
  0
BLOCK_RECORD
  5
BBC1F1
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D43
  0
BLOCK_RECORD
  5
BBC1F8
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D44
  0
BLOCK_RECORD
  5
BBC1FF
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D45
  0
BLOCK_RECORD
  5
BBC206
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D46
  0
BLOCK_RECORD
  5
BBC20D
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D47
  0
BLOCK_RECORD
  5
BBC214
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D48
  0
BLOCK_RECORD
  5
BBC21B
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D49
  0
BLOCK_RECORD
  5
BBC222
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D50
  0
BLOCK_RECORD
  5
BBC229
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D51
  0
BLOCK_RECORD
  5
BBC230
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D52
  0
BLOCK_RECORD
  5
BBC237
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D53
  0
BLOCK_RECORD
  5
BBC23E
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D54
  0
BLOCK_RECORD
  5
BBC245
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D55
  0
BLOCK_RECORD
  5
BBC24C
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D56
  0
BLOCK_RECORD
  5
BBC253
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D57
  0
BLOCK_RECORD
  5
BBC25A
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D58
  0
BLOCK_RECORD
  5
BBC261
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D59
  0
BLOCK_RECORD
  5
BBC268
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D60
  0
BLOCK_RECORD
  5
BBC274
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D61
  0
BLOCK_RECORD
  5
BBC280
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D62
  0
BLOCK_RECORD
  5
BBC287
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D63
  0
BLOCK_RECORD
  5
BBC28E
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D64
  0
BLOCK_RECORD
  5
BBC295
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D65
  0
BLOCK_RECORD
  5
BBC29C
330
BBBBD0
100
AcDbSymbolTableRecord
100
AcDbBlockTableRecord
  2
*D66
  0
ENDTAB
  0
ENDSEC